/* 
    Document   : style
    Created on : 2013-10-10, 13:25:11
    Author     : galbanie
    Description:
        Purpose of the stylesheet follows.
*/

body{  
    background-image: url(images/background.jpg);
    background-position:100% 0%;
    background-color: #4E4E4E;
}

#sidebar,
#main{
    float: left;
    margin-top: 20px;
}

#sidebar{
    display: inline-block;
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
}

#parties,
#connectes{
    min-height: 280px;
    margin-bottom: 10px;
    padding: 5px;
    border: 4px double #FFFFFF;
    
}

#parties h4,
#connectes h4{
    color: #FFFFFF;
    padding: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
    
}

#parties input[type='search'],
#connectes input[type='search']{
    width: 212px;
    margin: 5px 0;
    
}

#parties ol,
#connectes ol{
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
}

#parties ol>li,
#connectes ol>li{
    padding: 5px;
}

#parties ol>li>a,
#connectes ol>li>a{
    text-decoration: none;
    font-size: medium;
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
}

#main{
    display: inline-block;
    width: 800px;
    height: 600px;
    background-color: #ccc;
    border: 4px double #000000;
}

#piedPage{
    clear: both;
}

.btnS{
    display: block;
    position: absolute;
    margin-top:-32px;
    margin-left: 202px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    background: url('images/icon_search.png') center no-repeat;
}