/* 
    Document   : style
    Created on : 2013-10-10, 13:25:11
    Author     : galbanie
    Description:
        Purpose of the stylesheet follows.
*/

body{  
    background-image: url(images/background.jpg);
    background-position:100% 0%;
    background-color: #4E4E4E;
}

#sidebarGauche,
#main,
#sidebarDroit{
    float: left;
    margin-top: 20px;
}

#sidebarGauche,
#sidebarDroit{
    display: inline-block;
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
}

#parties,
#connectes,
#demande{
    height: 280px;
    margin-bottom: 10px;
    padding: 5px;
    border: 4px double #FFFFFF;
}

/*#demande{min-height: 480px;}*/

#parties h4,
#connectes h4,
#demande h4{
    color: #FFFFFF;
    padding: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
    
}

#parties input[type='search'],
#connectes input[type='search']{
    width: 212px;
    margin: 5px 0;
    
}

#parties ol,
#connectes ol,
#demande ol{
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
}

#parties ol>li,
#connectes ol>li,
#demande ol>li{
    padding: 5px;
}

#parties ol>li>a,
#connectes ol>li>a,
#demande ol>li>a{
    display: block;
    padding: 2.5px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: #FFFFFF;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

#main{
    display: inline-block;
    width: 900px;
    height: 640px;
    background-color: #ccc;
    border: 4px double #000000;
}

#main h3{
    color:#FFFFFF;
    text-align: center;
    font-weight: bolder;
    background-color: #2e7db2;
    opacity: .7;
}

#piedPage{
    clear: both;
}

.btnS{
    display: block;
    position: absolute;
    margin-top:-32px;
    margin-left: 202px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    background: url('images/icon_search.png') center no-repeat;
}

#scrore{
    
}

#scrore table{
    width: 80%;
    margin: 10px auto;
    border: 2px threeddarkshadow;
}

#scrore table td,#scrore table th{
    padding: 5px;
    text-align: left;
    border: 1px solid #000000;
}

#scrore table th {
    color: #FFFFFF;
    background-color: #141414;
}

#scrore table td{
    
}

.table-joueur{
    width: 30%;
}

.table-chiffre{
    width: 15%;
}

.table-score{
    width: 20%;
}

#inscription form{
    width: 400px;
    margin: 20px auto;
}

#inscription form div{
    padding: 5px 10px;
}

#inscription form div label{
    font-size: medium;
}

#inscription form div input{
    font-size: large;
    padding: 5px;
}

#inscription form div input[type="text"],
#inscription form div input[type="password"]{
    width: 370px;   
}

.enPartie{
    color: #cd0a0a;
}

/* Plateau */
#plateau{
    
}

#plateau >div{
    float: left;
}

#plateau #plateau-chess table{
    margin: 5px;
}

#plateau #plateau-chess table td{
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
}

#plateau #plateau-droit{
    width: 287px;
    height: 635px;
    
}

#plateau #plateau-droit #plateau-droit-joueur-haut,
#plateau #plateau-droit #plateau-droit-joueur-bas{
    width: 240px;
    margin: 15px auto;
}

#plateau #plateau-droit #plateau-droit-joueur-haut-info,
#plateau #plateau-droit #plateau-droit-joueur-bas-info{
    
}

#plateau #plateau-droit #plateau-droit-joueur-haut-info table tr,
#plateau #plateau-droit #plateau-droit-joueur-bas-info table tr{
    
}

#plateau #plateau-droit #plateau-droit-joueur-haut-info table td,
#plateau #plateau-droit #plateau-droit-joueur-bas-info table td{
    width: 94px;
    height: 20px;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

#plateau #plateau-droit #plateau-droit-joueur-haut #pion-capturer-haut,
#plateau #plateau-droit #plateau-droit-joueur-bas #pion-capturer-bas{
    width: 188px;
    margin: 0 auto;
}

#plateau #plateau-droit #plateau-droit-joueur-haut #pion-capturer-haut td,
#plateau #plateau-droit #plateau-droit-joueur-bas #pion-capturer-bas td{
    width: 45px;
    height: 45px;
    border: 1px solid #000000;
}

.position-fonce{
    background-color: #BD8D46;
}

.position-clair{
    background-color: #FCFAE1;
}


/* Context Menu */
#contextmenuConnectes{
    border: 1px solid #000000;
    background: url('images/bg_contextmenu.jpg') center repeat;
    display: none;
    position: absolute;
    color: #FFFFFF;
    font-weight: bolder;
    z-index: 999;
}

#contextmenuConnectes td{
    border-bottom: 1px solid #000000;
    padding: 3px 5px;
    cursor: pointer;
}

.focus{
    background-color: #ffaf0f;
}

.demandeur{
    color: #cd0a0a !important;
}

.receveur{
   color: darkgreen !important;
}

.victoire{
    background-color: darkgreen;
    opacity: .5;
}

.nulle{
    background-color: #FFFFFF;
    opacity: .5;
}

.defaite{
    background-color: #cd0a0a;
    opacity: .5;
}